/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;00;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&display=swap"); */

/* =========== base style ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section,
footer {
  padding-top: 70px;
  padding-bottom: 70px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2rem;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  color: #0a2b1e;
  font-weight: 600;
}

p {
  color: #596b65;
  font-size: 1rem;
  line-height: 35px;
  font-family: "Andada Pro", serif;
  font-weight: 400;
}

button.btn {
  background: #17bf9e;
  color: #fff;
  padding: 7px 25px;
  border-radius: 50px;
}

i {
  color: #17bf9e;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animation for ComponentB */
  @keyframes move {
    0% {
      transform: translateY(100%) translateX(20%);
    }
    16% {
      transform: translateY(-10%) translateX(60%);
    }
    32% {
      transform: translateY(-10%) translateX(250%);
    }
    48% {
      transform: translateY(100%) translateX(300%);
    }
    64% {
      transform: translateY(-10%) translateX(250%);
    }
    80% {
      transform: translateY(-10%) translateX(60%);
    }
    100% {
      transform: translateY(100%) translateX(20%);
    }
  }

  @media (min-width: 768px) and (max-width: 1500px) {
    .move-animation {
      animation: move 16s linear infinite;
    }
  }

